<h1>Instructions</h1>
<div id="container-instructions">

			<div class="instruction-body">Please answer the questions below. If you wish to see the instructions again, click the "Repeat" button at the bottom left of the page.</div>

			<div id="preq" class="questionnaire">

			    <div class="question">
			        <p class="questiontext">
                    In each game, what happens when you click on an urn and see a coin? 
                    </p>
                    <select id="sampling" name="sampling">
			            <option value="noresp" SELECTED></option>
			            <option value="0">The coin is permanently taken out of the urn</option>
			            <option value="1">The coin is taken out of the urn but then is put back</option>
			            <option value="2">The coin is put into the other urn</option>
			        </select>
			    </div>
                
			    <div class="question">
			        <p class="questiontext">
			        In each game, what is the maximum number of coins that you could see?
                    </p>
			        <select id="maxtrials" name="maxtrials">
			            <option value="noresp" SELECTED></option>
			            <option value="0">15</option>
			            <option value="1">26</option>
				        <option value="2">Unlimited</option>
			        </select>
			    </div>

                
			    <div class="question">
			        <p class="questiontext">
                    What happens if the game <strong>expires early</strong>?
                    </p>
                    <select id="expiration" name="expiration">
			            <option value="noresp" SELECTED></option>
			            <option value="0">I will have to choose whichever urn I think has a higher value</option>
			            <option value="1">One of the urns will disappear and I will have to take the other one</option>
			            <option value="2">The urn I choose in that game won't have any effect on my bonus at the end</option>
			        </select>
			    </div>

			    <div class="question">
			        <p class="questiontext">
                    Which of the following turns has the highest likelihood of being chosen as the point of expiration? 
                    </p>
			        <select id="probexpire" name="probexpire">
			            <option value="noresp" SELECTED></option>
			            <option value="0">Each turn is equally likely to be chosen for expiration</option>
			            <option value="1">Turn 2</option>
			            <option value="2">Turn 15</option>
			            <option value="3">Turn 26</option>
			        </select>
			    </div>

			    <div class="question">
			        <p class="questiontext">
			        When the game expires early, which of the two urns will disappear?
                    </p>
			        <select id="whichexpire" name="whichexpire">
			            <option value="noresp" SELECTED></option>
			            <option value="0">The urn that disappears is chosen randomly</option>
			            <option value="1">The urn with the higher value always disappears</option>
			            <option value="2">Neither urn disappears, but you have to choose one immediately</option>
			        </select>
			    </div>
               
                <div id = "warning"></div>

                <div id="buttons">
                    <input type="button" id="startover" name="continue" value="Repeat Instructions" class="button" style="float:left"/>
                    <input type="button" id="continue" name="continue" value="Submit" class="button" /> 
                </div>
			  
			</div>

</div>

